* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    text-align: center;
}

h1 {
    margin: 20px 0;
}

#tasks_content, #complete_content{
    min-height: 150px;
    border: 1px solid black;
    width: 50%;
    margin: 0 auto;
    margin-top: 30px;
    border-radius: 20px;
    padding: 10px 20px;
    align-items: center;
}

#complete_content {
    margin-top: 5px;
}



.taskNameVisual {
    display: inline-block;
    margin-left: 10px;
}

.divTogetherVisual {
    margin: 10px 0;
    text-align: left;
    display: flex;
}

.checkBoxVisual {
    display: inline-block;
}

.dateUpdateVisual {
    color: rgb(120, 120, 120);
    display: inline-block;
    text-align: right;
    width: 100%;
    font-size: 13px;
    word-spacing: 10px;
    margin-right: 10px;
}

.timeUpdateVisual {
    font-size: 12px;
    display: none;
}

.divCompleteTogether {
    text-align: left;
    margin: 10px 0;
    display: flex;
}

.taskNameVisualCompleted {
    display: inline-block;
    text-decoration: line-through;
    color: rgb(145, 145, 145);
    margin-left: 10px;
}

.deleteButtonVisual {
    text-decoration: none;
    background-color: red;
    color: white;
    padding: 2px 5px;
    border-radius: 5px;
    display: inline-block;
    /* width: 100%; */
    margin-left: auto;
    font-size: 12px;
}

.noToDoPar {
    color: rgb(145, 145, 145);
    line-height: 100%;
    width: 100%;
}